# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# PyCharm
.idea/

# Virtual Environment
.venv/

# VSCode
.vscode/

# MySQL dumps or SQLite
*.sqlite3
*.db
*.sql

# Env files
.env

# Node modules (Vue)
FrontEnd/node_modules/

# Log files
*.log